  *{
    box-sizing: inherit;
  }
  ul, nav, body, h1, h2, h4, h6, p, figure {
    margin: 0;
    padding: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  
  .container {
    width: 100%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .container1,
  .container2 {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  }
  
  .column1 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .column2 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .textcenter {
    text-align: center;
  }
  
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
  
  body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 17px;
    background-color: #ccc;
    overflow-x: hidden;
  }
  
  .container {
    background-color: white;
  }
  
  p {
    color: #626364;
    line-height: 1.8;
  }
  
  .placeholder {
    width: 100%;
    min-height: 300px;
    background-color: lightslategray;
    position: relative;
  }
  
  .tm {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    z-index: 1000;
  }
  
  .tmin {
    padding: 40px 50px;
  }
  
  .logo {
    display: inline-block;
    margin-right: 5px;
  }
  
  .textbox {
    display: inline-block;
  }
  
  .title {
    font-size: 2.2rem;
    font-weight: 400;
    margin-bottom: 5px;
  }
  
  .description {
    font-size: 1.1rem;
    font-weight: 400;
  }
  
  .nav {
    text-align: right;
    margin-top: 30px;
  }
  
  .navul {
    display: flex;
    justify-content: flex-end;
  }
  
  .navli {
    list-style: none;
    display: block;
    margin-bottom: 0;
    padding-right: 25px;
    padding-left: 25px;
  }
  
  .navlink {
    color: white;
    text-decoration: none;
    padding-bottom: 10px;
  }
  
  .stitle {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 30px;
  }
  
  .section {
    margin-left: auto;
    margin-right: auto;
  }
  
  .comment {
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 15px;
    margin-left: 0;
  }
  
  .figure {
    text-align: center;  
  }

  .box {
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    max-width: 530px;
    margin-left: auto;
    margin-right: auto;
  }

  .box2 {
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    max-width: 530px;
  }
  
  .footer {
    padding: 25px 15px;
    margin-top: 40px;
    background-color: lightslategray;
  }
  
  .footer a {
    color: white;
    text-decoration: none;
  }

  .linebar {
    height: 10px;
    border: 1px solid #c3c3c3;
    display: flex;
    flex-wrap: wrap;
    align-content: left;
    margin-top: 10px;
    margin-bottom: 25px;
  }